body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="file"] {
  display: none;
}

.bodyFormAccount{
  display: none;
}

.bodyFormAccount:hover{
  display: block;
}

.mainFromAccount:hover{
  background: #265261!important;
}

.mainFromAccount:hover .bodyFormAccount{
  display: block;
}

.custom-import-excel{
  position: fixed;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: green;
  cursor: pointer;
  height: 32px;
  padding: 0 15px;
  border: 1px solid rgba(0, 128, 0, 0.377);
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  touch-action: manipulation;
}

.custom-import-excel:hover{
  background: rgba(133, 226, 133, 0.1);
}

.setBackgroundLogin {
  background-image: linear-gradient(rgba(199, 205, 229,0.5), rgba(103, 95, 95,0.5)), url("/background.jpg");
}

.left{
  float: left;
}

.right{
  float: right;
}

.btn-add-right{
  float: right;
  z-index: 1000;
}

.p-top10{
  padding-top: 10px;
}

.middle-text{
  vertical-align: middle;
}

.midle-icon-ant{
  display: inline-flex;
  justify-content: center;
  align-items: center
}

.middle-div{
  display: flex!important;
  align-items: center;
}

.color-main{
  background: #4b79a1;
}

.ant-table-thead > tr{
  background: #4b79a1!important;
}

.ant-table-thead > tr > th{
  color: #fff!important;
}

.pointer{
  cursor: pointer;
}

.ant-table-expanded-row-level-1{
  background: #eceef0!important;
}

.ant-table-small > .ant-table-content > .ant-table-body{
  margin: 0!important;
}

.customTag{
  cursor: pointer!important;
}
.customTag:hover{
  transform: scale(1.2);
}

.codeBond:hover{
  color: green;
  text-decoration: underline;
}

.customHeaderCollapse{
  background: #fff;
}

.customHeaderCollapse:hover{
  background: rgb(237, 240, 241);
}

.customHeaderCollapse > .ant-collapse-header{
  color: #52c41a!important;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

/* Resize header table */
.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}

.anticon{
  vertical-align: -0.3em!important;
}